PORT=4000
CLIENT_URL=http://localhost:5173
SERVER_URL=http://localhost:4000
DATABASE_URL=./data/chess-master.db
JWT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
EMAIL_USER=
EMAIL_PASS=
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_SECURE=true
VITE_STRIPE_PAYMENT_LINK=
